.disconnect-site__main {
	width: 55%;
	margin: auto;
}

.disconnect-site__question {
	padding-top: 15px;
 	padding-bottom: 15px;
	text-align: left;
	line-height: 24px;
}
.disconnect-site__drop-down {
    width: 100%;
		text-align:center;
		padding-bottom: 15px;
}
